<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product()?.title }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  @if(product(); as product){
    <ion-card>
      <div  class="card">
        <img class="img" [src]="product.image" />

      </div>

      <ion-card-header>
        <ion-card-title> {{ product?.title }} </ion-card-title>
        <ion-text color="tertiary">
          {{product.description}}
        </ion-text>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          <ion-label>{{ product.price | currency: 'USD' }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  }

</ion-content>
