.img {
  max-width: 300px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.item-container {
  margin: 0 auto;
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter-display {
  flex: 1;
  text-align: center;
  font-size: 1.2em;
  margin: 0 30px;
}

.product-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-thumbnail {
  --size: 340px;
  --border-radius: 14px;
}